
<a [routerLink]="['/jobs/add']"><button mat-raised-button color="primary">Add</button></a>
<br/>
<br/>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let item" (click)="getRecord(item)">{{item.title}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let item" (click)="getRecord(item)">{{item.status?'Enabled': 'Disabled'}}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let item">
      <button mat-icon-button (click)="handleEdit(item)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="handleDelete(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="size" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions" (page)="pageChanges($event)" ></mat-paginator>