<mat-card class="job-card disabled">
    <mat-card-header>
        <mat-card-title>Job</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="handleSubmit()">
            <mat-form-field >
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" />
                <mat-error *ngIf="form.controls.title.invalid">This field is require.</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field >
                <mat-label>Location</mat-label>
                <input matInput formControlName="location" />
            </mat-form-field>
            <br/>
            <mat-form-field >
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"  ></textarea>
            </mat-form-field>
            <br/>
            <mat-form-field >
                <mat-label>Date</mat-label>
                <input matInput formControlName="date"  [matDatepicker]="picker"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.controls.date.invalid">This field is require date.</mat-error>
            </mat-form-field>
            <br/>
            <div >
                <mat-label>Status:  </mat-label>
                <mat-checkbox formControlName="status" >Enable</mat-checkbox>
            </div>
            <br/>
            <div>
                <mat-label>File(pdf only & max 2MB): </mat-label>
                <input class="ng-hide" id="input-file-id" type="file" (change)="onFileSelected($event)" accept="application/pdf"/>
                <label for="input-file-id" class="mat-raised-button mat-button-base">Choose Files</label>
                <label *ngIf="file">{{file.name}}</label>
            </div>
            <br/>
            <button mat-raised-button color="primary">Submit</button>
        </form>
    </mat-card-content>
</mat-card>