<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button *ngFor="let item of authService.navItems" [routerLink]="[item.path]">{{item.label}}</a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>