<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Pulsifi Assessment</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <mat-form-field >
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <br/>
      <mat-form-field >
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
      <br/>
      <button mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>