.login-card{
    max-width: 400px;
    margin: auto;
}

mat-card-header{
    text-align: center;
}

mat-form-field, button{
    width: 100%;
}

mat-card ::ng-deep .mat-card-header-text{
    margin: auto
}