.job-card{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

mat-card-header, mat-card-footer{
    text-align: center;
}

mat-form-field, button{
    width: 100%;
}

mat-card ::ng-deep .mat-card-header-text{
    margin: auto
}


.job-card.disabled {
    color:grey !important;
    & mat-card-header{
        color: grey !important;
        & mat-card-title{
            color:grey !important;
        }
        & mat-card-content{
            color: grey !important;
        }
    }
    & mat-card-footer{
        color: grey !important;
    }
}