<mat-card class="job-card" [ngClass]="{'disabled': !job.status}">
  <mat-card-header>
    <mat-card-title>{{job.title}}</mat-card-title>
    <mat-card-subtitle>{{job.date | date:'medium'}}</mat-card-subtitle>
    <mat-card-subtitle class="location">{{job.location}}</mat-card-subtitle>
  </mat-card-header>
  <hr/>
  <mat-card-content>
    {{job.description}}
  </mat-card-content>
  <hr/>
  <mat-card-footer *ngIf="job.file">
    <a  href="http://localhost{{job.file}}" target="_new">
      Download Description Here
      <mat-icon>description</mat-icon>
    </a>
  </mat-card-footer>
</mat-card>